USE [master]
GO
/****** Object:  Database [ITI]    Script Date: 02/14/2010 05:41:30 ******/
CREATE DATABASE [ITI] ON  PRIMARY 
( NAME = N'ITI2', FILENAME = N'C:\Users\Public\ITI.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ITI2_log', FILENAME = N'C:\Users\Public\ITI_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Arabic_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITI]
GO
/****** Object:  User [itistudent]    Script Date: 02/14/2010 05:41:30 ******/
CREATE USER [itistudent] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [newschema]    Script Date: 02/14/2010 05:41:30 ******/
CREATE SCHEMA [newschema] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [new]    Script Date: 02/14/2010 05:41:30 ******/
CREATE SCHEMA [new] AUTHORIZATION [dbo]
GO
/****** Object:  Table [dbo].[_#_AdventureWorks_Contact]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Top_Id] [int] NOT NULL,
	[Top_Name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Top_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Topic] ([Top_Id], [Top_Name]) VALUES (1, N'Programming')
INSERT [dbo].[Topic] ([Top_Id], [Top_Name]) VALUES (2, N'DB')
INSERT [dbo].[Topic] ([Top_Id], [Top_Name]) VALUES (3, N'Web')
/****** Object:  Table [dbo].[Instructor]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Ins_Id] [int] NOT NULL,
	[Ins_Name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[Ins_Degree] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[Dept_Id] [int] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[Ins_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Instructor] ([Ins_Id], [Ins_Name], [Ins_Degree], [Dept_Id], [Salary]) VALUES (100, N'Ahmed', N'Master', 10, 1000)
INSERT [dbo].[Instructor] ([Ins_Id], [Ins_Name], [Ins_Degree], [Dept_Id], [Salary]) VALUES (101, N'Hany', N'Master', 10, 2000)
INSERT [dbo].[Instructor] ([Ins_Id], [Ins_Name], [Ins_Degree], [Dept_Id], [Salary]) VALUES (102, N'Reham', N'Master', 10, 3000)
/****** Object:  Table [dbo].[Department]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_Id] [int] NOT NULL,
	[Dept_Name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[Dept_Desc] [nvarchar](100) COLLATE Arabic_CI_AS NULL,
	[Dept_Location] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[Dept_Manager] [int] NULL,
	[Hiredate] [date] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Dept_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Dept_Id], [Dept_Name], [Dept_Desc], [Dept_Location], [Dept_Manager], [Hiredate]) VALUES (10, N'SD', N'System Development', N'Cairo', 100, CAST(0x07240B00 AS Date))
INSERT [dbo].[Department] ([Dept_Id], [Dept_Name], [Dept_Desc], [Dept_Location], [Dept_Manager], [Hiredate]) VALUES (20, N'EL', N'E-Learning', N'Mansoura', 101, CAST(0xE2260B00 AS Date))
INSERT [dbo].[Department] ([Dept_Id], [Dept_Name], [Dept_Desc], [Dept_Location], [Dept_Manager], [Hiredate]) VALUES (30, N'Java', N'Java', N'Cairo', 102, CAST(0x0D240B00 AS Date))
/****** Object:  Table [dbo].[Course]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Crs_Id] [int] NOT NULL,
	[Crs_Name] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[Crs_Duration] [int] NULL,
	[Ins_Id] [int] NULL,
	[Top_Id] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Crs_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([Crs_Id], [Crs_Name], [Crs_Duration], [Ins_Id], [Top_Id]) VALUES (100, N'HTML', 20, 100, 3)
INSERT [dbo].[Course] ([Crs_Id], [Crs_Name], [Crs_Duration], [Ins_Id], [Top_Id]) VALUES (200, N'C Progamming', 60, 101, 1)
INSERT [dbo].[Course] ([Crs_Id], [Crs_Name], [Crs_Duration], [Ins_Id], [Top_Id]) VALUES (300, N'OOP', 80, 101, 1)
/****** Object:  Table [newschema].[Student]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [newschema].[Student](
	[St_Id] [int] NOT NULL,
	[St_Fname] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[St_Lname] [nchar](10) COLLATE Arabic_CI_AS NULL,
	[St_Address] [nvarchar](100) COLLATE Arabic_CI_AS NULL,
	[St_Age] [int] NULL,
	[Dept_Id] [int] NULL,
	[St_super] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[St_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [newschema].[Student] ([St_Id], [St_Fname], [St_Lname], [St_Address], [St_Age], [Dept_Id], [St_super]) VALUES (1, N'Ahmed', N'Hassan    ', N'Cairo', 20, 10, NULL)
INSERT [newschema].[Student] ([St_Id], [St_Fname], [St_Lname], [St_Address], [St_Age], [Dept_Id], [St_super]) VALUES (2, N'Amr', N'Magdy     ', N'Cairo', 21, 10, 1)
INSERT [newschema].[Student] ([St_Id], [St_Fname], [St_Lname], [St_Address], [St_Age], [Dept_Id], [St_super]) VALUES (3, N'Mona', N'Saleh     ', N'Cairo', 22, 10, 1)
/****** Object:  Table [dbo].[Stud_Course]    Script Date: 02/14/2010 05:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stud_Course](
	[Crs_Id] [int] NOT NULL,
	[St_Id] [int] NOT NULL,
	[grade] [int] NULL,
 CONSTRAINT [PK_Stud_Course] PRIMARY KEY CLUSTERED 
(
	[Crs_Id] ASC,
	[St_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Stud_Course] ([Crs_Id], [St_Id], [grade]) VALUES (100, 1, 100)
INSERT [dbo].[Stud_Course] ([Crs_Id], [St_Id], [grade]) VALUES (100, 2, 50)
INSERT [dbo].[Stud_Course] ([Crs_Id], [St_Id], [grade]) VALUES (100, 3, 70)
/****** Object:  ForeignKey [FK_Department_Instructor]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Instructor] FOREIGN KEY([Dept_Manager])
REFERENCES [dbo].[Instructor] ([Ins_Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Instructor]
GO
/****** Object:  ForeignKey [FK_Course_Instructor]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Instructor] FOREIGN KEY([Ins_Id])
REFERENCES [dbo].[Instructor] ([Ins_Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Instructor]
GO
/****** Object:  ForeignKey [FK_Course_Topic]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Topic] FOREIGN KEY([Top_Id])
REFERENCES [dbo].[Topic] ([Top_Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Topic]
GO
/****** Object:  ForeignKey [FK_Student_Department]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [newschema].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([Dept_Id])
REFERENCES [dbo].[Department] ([Dept_Id])
GO
ALTER TABLE [newschema].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
/****** Object:  ForeignKey [FK_Student_Student]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [newschema].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Student] FOREIGN KEY([St_super])
REFERENCES [newschema].[Student] ([St_Id])
GO
ALTER TABLE [newschema].[Student] CHECK CONSTRAINT [FK_Student_Student]
GO
/****** Object:  ForeignKey [FK_Stud_Course_Course]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [dbo].[Stud_Course]  WITH CHECK ADD  CONSTRAINT [FK_Stud_Course_Course] FOREIGN KEY([Crs_Id])
REFERENCES [dbo].[Course] ([Crs_Id])
GO
ALTER TABLE [dbo].[Stud_Course] CHECK CONSTRAINT [FK_Stud_Course_Course]
GO
/****** Object:  ForeignKey [FK_Stud_Course_Student]    Script Date: 02/14/2010 05:41:34 ******/
ALTER TABLE [dbo].[Stud_Course]  WITH CHECK ADD  CONSTRAINT [FK_Stud_Course_Student] FOREIGN KEY([St_Id])
REFERENCES [newschema].[Student] ([St_Id])
GO
ALTER TABLE [dbo].[Stud_Course] CHECK CONSTRAINT [FK_Stud_Course_Student]
GO
