.egg {
    position: absolute;
    top: -150px;
    left: calc(100% * var(--x));
    animation: fall var(--duration) linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  .bas {
      margin-top: 500px;
      margin-left: 160px;
      width: 80px;
  }